<div class="country__card">
<h2 class="country-name"><img src={{flags.svg}} alt="flag" height="30" width="40" > {{name.official}}</h2>
    <ul class="country-info list">
        <li class="country-info-item">
            <p class="capital"> <b>Capital:</b> {{capital}}</p>
        </li>
        <li class="country-info-item">
            <p class="population"> <b>Population:</b> {{population}}</p>
        </li>
        <li class="country-info-item">
<p class="languages"> <b>Languages:</b> {{#each languages}}<span class="language">{{this}}</span>{{/each}}</p>
        </li>
    </ul>
</div>